{% extends '__base.html' %}

{% block page_title %}
    Contact US
{% endblock %}

{% block content %}
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">Contact US</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div id="content" class="main-content-wrapper">
        <div class="page-content-inner pt--75">
            <div class="container">
                <div class="row pb--80">
                    <div class="col-md-7 mb-sm--30">
                        <h2 class="heading__secondary mb--50 mb-md--35 mb-sm--20">Please write your message</h2>

                        <!-- Contact form Start Here -->
                        <form class="form" action="mail.php" id="contact-form">
                            <div class="form__group mb--20">
                                <input type="text" id="contact_name" name="contact_name"
                                       class="form__input form__input--2" placeholder="Name*">
                            </div>
                            <div class="form__group mb--20">
                                <input type="email" id="contact_email" name="contact_email"
                                       class="form__input form__input--2" placeholder="Email*">
                            </div>
                            <div class="form__group mb--20">
                                <input type="text" id="contact_phone" name="contact_phone"
                                       class="form__input form__input--2" placeholder="Phone number*">
                            </div>
                            <div class="form__group mb--20">
                                <textarea class="form__input form__input--textarea" id="contact_message"
                                          name="contact_message" placeholder="Your message*"></textarea>
                            </div>
                            <div class="form__group">
                                <button type="submut" class="btn-submit">Submit</button>
                            </div>
                            <div class="form__output"></div>
                        </form>
                        <!-- Contact form end Here -->

                    </div>
                    <div class="col-md-5 pl--50 pl-sm--30">
                        <h2 class="heading__secondary mb--50">Contact info</h2>

                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget mb--45">
                            <div class="contact-info">
                                <h3 class="heading__tertiary">Postal code</h3>
                                <p>Germany-Passau <br> Germany </p>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget mb--45">
                            <div class="contact-info">
                                <h3 class="heading__tertiary">#</h3>
                                <p>Germany-Passau <br> Germany </p>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget two-column-list sm-one-column mb--45">
                            <div class="contact-info mb-sm--35">
                                <h3 class="heading__tertiary">Call number</h3>
                                <a href="">+49 (0)157/ 58219398</a>
                            </div>
                            <div class="contact-info">
                                <h3 class="heading__tertiary">Email</h3>
                                <a href="mailto:info@la-studioweb.com">a.navabi65@gmail.com</a>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Social Icons Start Here -->
                        <ul class="social social-sharing">
                            <li class="social__item">
                                <a href="https://instagram.com/m.hadi.hajihosseini" class="social__link instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- Social Icons End Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->
{% endblock %}